body{
    background: white;
}
<<<<<<< HEAD
.formulario{
    background-color: rgb(225, 225, 252);

=======

.portafolio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
>>>>>>> 3f8664e4a0494c694a560bf3bd9562771b6b305a
}