<!-- your html code here -->
<div class="m-1">
    <h4>Contact</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit eligendi excepturi doloremque neque voluptates non cupiditate illum molestiae optio obcaecati, quas perspiciatis ducimus corrupti officiis nemo voluptatum quidem architecto!</p>
    <div class="d-flex justify-content-center">
        <form class="col-6">
            <div class="d-flex m-2">
              <label for="exampleInputEmail1" class="form-label col-2"><strong>Your E-mail</strong></label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="d-flex m-2">
              <label for="exampleInputText" class="form-label col-2"><strong>Your message</strong></label>
              <textarea class="form-control" name="textarea1" id="exampleInputText" rows="5"></textarea>
            </div>
            <div class="m-2 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

    </div>
</div>