<!-- your html code here -->
<div class="firstHeading" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 60px;">
    <div class="container-fluid">
        <div class="header" style="overflow: hidden;">
            <h4 class="d-inline-block p-0">The First Heading</h4>
            <h4 class="d-inline-block p-0 text-secondary">Will Catch your eyes</h4>
            <img src="/website/assets/img/1.jpg" class="rounded-circle" style="border-radius: 50%; float: right; width: 200px; height: 200px;">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel repellendus pariatur facere culpa, inventore accusantium saepe qui neque quia similique impedit odio ducimus maxime consectetur incidunt iste dolorum corrupti obcaecati.</p>
        </div>
    </div>
</div>
    
