<div class="secondHeading">
    <div class="container">
        <div class="header" style="overflow: hidden;">
            <img src="https://img.freepik.com/foto-gratis/cosechado-vista-manos-mecanografia-computadora_1262-3196.jpg?w=1800&t=st=1696361827~exp=1696362427~hmac=1e7be64e152ef1bbce6e7a8c045827aaa2570327199bef6c1e065846cf895717" class="rounded-circle" style="border-radius: 50%; float: left; width: 200px; height: 200px;">
            <h4 class="d-inline-block p-0">The Second Heading</h4>
            <h4 class="d-inline-block p-0 text-secondary"> Is Pretty Cool Too.</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel repellendus pariatur facere culpa, inventore accusantium saepe qui neque quia similique impedit odio ducimus maxime consectetur incidunt iste dolorum corrupti obcaecati.</p>
        </div>
    </div>
</div>